.gigs {
  display: flex;
  justify-content: center;

  .container {
    width: 1200px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .breadCrumbs {
      font-weight: 300;
      color: rgb(87, 84, 84);
    }
    p {
      color: #555;
      font-size: 13px;
    }
    h1 {
      font-weight: 500;

      color: rgb(24, 19, 19);
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          font-weight: 300;
          color: #555;
        }
        input {
          padding: 5px 10px;
          outline: none;
          border: 1px solid rgb(126, 123, 123);
        }
        button {
          padding: 5px 15px;
          color: white;
          background-color: #1dbf73;
          outline: none;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-weight: 500;
        }
      }
      .right {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        .sortBy {
          font-weight: 300;
          color: rgb(87, 83, 83);
        }

        .sortType {
          font-weight: bold;
          color: rgb(56, 48, 48);
        }

        img {
          width: 20px;
          cursor: pointer;
        }
        .rightMenu {
          display: flex;
          flex-direction: column;
          align-items: left;
          padding: 10px;
          gap: 10px;
          width: 100px;
          height: 50px;
          color: lightgray;

          background-color: white;
          position: absolute;
          top: 20px;
          right: 20px;
          border-radius: 5px;
          border: 1px solid lightgray;
          span {
            font-weight: bold;
            color: rgb(111, 107, 107);
            cursor: pointer;
          }
        }
      }
    }

    .cards {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
    }
  }
}
